@import '../../_base.scss';
$text-color:#b1bdb4;
$blak-primary:#16181b;
$blak-secondary:#121417;
$border-color:#4c4c4c;

$breakpoint-medium:1224px;
$breakpoint-small:520px;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px; 
    
    &__icon {
        margin-right: 20px;
        &:hover {
            cursor: pointer;
            // border-radius: 50%;
        }
    }
    
    &__left {
        display: flex;
        align-items: center;
    }

    &__navlink {
        padding: 0;
    }
    
    &__menu  {
        display: block;
        color: #000000;
        cursor: pointer;
    }

    &__logo {
       width: 150px;
       height: 40px;
        object-fit: contain;
        // display: block;
    }
    form {
        flex: 0.9;
        display: flex;
        border-radius: 3px;
        border-radius: 20px;
        padding: 1px 10px; 
        background-color: #EBEBEB;
        border: none;
        
        input {
            width: 100%;
            border:  none;
            outline: none;
            font-weight: 500;
            background-color: transparent;
            padding: 0.3rem;
            color:#000000 ;
        }
        button {
            padding-right: 10px;
            background-color: transparent;
            border: none;
            &:focus {
                border: none;
            }
        }
    }
    &__icons {
        display: flex;
        align-items: center;
        .uzim {
            width: 40px;
            border-radius: 50%;
            object-fit: contain;
            &:hover {
                box-shadow: rgba(125, 125, 125, 0.3) 0px 0px 0px 6px;
                cursor: pointer;
            }
    }
}
}

@media (max-width:$breakpoint-small) {
    .header {
        padding: 2rem 0.50rem;
        display: flex;
        justify-content: space-between;     


        form {
            flex: 1;
            margin: 0 10px;
        }
        &__menu {
            display: block;
        }
        &__logo {
            display: none;
        }
        &__icons > *:not(img) {
            display: none;
        }
    }
}