@import '../../_base.scss';
.sidebar {
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 30px;
	padding-top: 2rem;
	transition: transform 0.4s ease-in;
	
	&__link {
		display: flex;
		align-items: center;
		color: #898989 !important;
		padding: 10px;
		text-decoration: none;
		&:hover {
			background-color: rgb(156, 156, 156);
			color: #ffffff !important;
		}
		
		span {
			margin-left: 10px;
		}
	}
	
	.hr-line {
		background-color: #ffffff;
	}
	&__list {
		padding: 0;
	}
	
	li {
		display: flex;
		align-items: center;
		margin: 0.2rem 0 !important;
		cursor: pointer;
		padding: 10px 10px;

		&:hover {
			background-color:#d4d4d4;
			color: #000000;
		}
		
		span {
			margin-left: 1rem;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 0.4px;

			hr {
                background-color: $border-color;
                margin: 0;
			}
            &.open {
                transform: translateX(0);
            }
		
		}
	}
	.imgs-icon {
		text-decoration: none;
	}
	.imgs-icon span {
		margin-left: 10px;
	}
	.img-chanel {
		width: 30px;
		height: 30px;
		display: inline-block;
	}
	.text-black {
        font-family: 'Arial', 'Mulish';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 23px;
		padding-left: 40px;
    }
}

@media (max-width: $breakpoint-medium) {
	.sidebar {
		width: 90px;
        

		li {
			justify-content: center;
		}
		span {
			display: none;
		}
		&.open {
            transform: translateX(0);
		}
	}
}


@media (max-width: $breakpoint-small) {
	.sidebar {
        display: block;
        transform: translateX(-100px);
        position: fixed;
        z-index: 999;
	}
}

