@import "../../_base.scss";

.CategoriesBar {
    padding: 0.5rem 0;
    font-size: 0.8rem;
    display: flex;
    overflow-x: auto;

    &__chanel {
        font-weight: 400;
        font-size: 16px;
        color: #C2C2C2 !important;
        margin-top: 15px;
        margin-left: 10px;
    }
    

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    &__bottom {
        margin-right: 90px;
        cursor: pointer;
    }

    &::-webkit-scrollbar {
        width: 0px;
    }
    scrollbar-width: none;
    
    &__hero {
        display: flex;
        align-items: center;
        color: black;
        font-weight: bold;
        h2 {
            margin-left: 20px;
            margin-bottom: 0;
        }
    }
   
    
    span {
        margin-right: 1rem;
        padding: 0.5rem;
        white-space: nowrap;
        border: 1.5px solid $text-color;
        cursor: pointer;
        border-radius: 30px;
        
        &:hover {
            background-color: #667d8f;
        }
        &.active {
            transition: 0.5s ease;
            color: #ffffff;
            background-color: #636363;
            border-color: $border-color;
        }

    }
    
}