.chanel__list {
  list-style: none;
  padding: 0;
}

.chanel__img {
  width: 100%;
  height: 280px;
  border-radius: 10px;
}

.chanel__image {
  width: 80px;
  height: 80px;
}

.bnma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.dark {
  color: #19202C;
}

.wiew {
  color: #C2C2C2;
}

.chanel-wrap {
  margin-left: 10px;
}

.subscript {
  background-color: #FF0000;
  font-size: 16px;
  text-align: center;
  color: #ffffff !important;
  border-radius: 25px;
  padding: 6px 15px;
}

.fabel__list {
  list-style: none;
  padding: 0;
}

.fabel img {
  margin-right: 15px;
}

.fabel {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  padding-right: 40px;
}

.chanel__list {
  list-style: none;
  padding: 0;
}

.chanel__navlink {
  text-decoration: none;
}

.chanel__navlinks {
  text-decoration: none;
  color: #000000 !important;
  font-family: 'Arial' 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding: 0 !important;
  margin-left: 40px;
}

.chanel__navlinks:hover {
  color: red !important;
  border-bottom: 2px solid red;
}

.d-flex {
  padding-bottom: 10px;
}

.navlinks2 {
  margin: 0;
}

.chanel__span {
  padding-right: 120px;
}

.chanel__imeg {
  position: relative;
  border-radius: 10px;
  width: 440px;
  height: 250px;
}

.chanel__linked {
  position: relative;
  padding: 0;
}

.chanel__absolute {
  position: absolute;
  background-color: #00000077 !important;
  padding: 0 8px;
  border-radius: 15px;
  color: #ffffff;
  left: 380px;
  bottom: 10px;
}

.chanel__heading3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #19202C;
}

.chanel__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  color: #19202C;
  width: 431px;
}

.chanel__inner {
  width: 548px;
}

.chanel-text {
  margin-top: 30px;
}

.chanel-span {
  font-size: 16px;
  padding: 0;
}

.chanel__avatar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin-bottom: 30px;
}

.chanel__avatar li span {
  margin-left: 10px;
}

.chanel__avatar {
  padding: 0;
  margin-right: 50px;
}

.text {
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  color: #19202C;
}

.nav-link {
  padding: 0 20px 0 0 !important;
}

.chanel__list3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  overflow-x: scroll;
}

.chanel__navlink3 {
  text-decoration: none;
  margin-left: 30px;
}

.chanel__navlink3:nth-child(1) {
  margin: 0;
}

.chanel__img3 {
  width: 250px;
  height: 150px;
  border-radius: 5px;
}

.heading-text {
  color: #C2C2C2;
}

.heading-text {
  font-size: 13px;
}

@media (max-width: 1200px) {
  .chanel__imeg {
    width: 350px;
    height: 230px;
  }
  .chanel__absolute {
    left: 290px;
  }
  .chanel-text {
    margin: 0;
  }
  .container {
    margin: 0 !important;
  }
}
/*# sourceMappingURL=chanel.css.map */